.register_layout {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading h3 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading p {
  font-size: 19px;
}



