.img_holder {
    width: fit-content;
    position: relative;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
}

.info, .stats {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info p {
    font-size: 30px;
    margin-bottom: 0;
    margin-right: 30px;
}

.info button{
    border-width: 1px;
    background-color: #fff;
    border-radius: 10px;
    max-height: 30px;
}

.stats div:first-child {
    margin-right: 30px;
}

.stats p {
    margin-bottom: 0px;
    font-size: 20px;
}

.fullname {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.img_overlay {
    background-color: #000;
    opacity: 0.3;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_img_btn {
    background: unset;
}

.add_img_btn svg {
    fill: #fff;
}