.contain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.layout {
  margin-top: 5vh;
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.posts_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}
