@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif; 
  background-color: #FFFEFC;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image-button {
  background-color: transparent;
  padding: 0;
  border: 0px;  
}
